<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>723516994229-532spb94sif3rvk1t89pa19lis9h1kgj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.723516994229-532spb94sif3rvk1t89pa19lis9h1kgj</string>
	<key>API_KEY</key>
	<string>AIzaSyDa8TPG-6kRrlhcXcO8tzW2j7h-jHEfro4</string>
	<key>GCM_SENDER_ID</key>
	<string>723516994229</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>offtop.AVsoftTest</string>
	<key>PROJECT_ID</key>
	<string>avsoft-28071</string>
	<key>STORAGE_BUCKET</key>
	<string>avsoft-28071.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:723516994229:ios:4b832f25a893cb1f8bc4fc</string>
	<key>DATABASE_URL</key>
	<string>https://avsoft-28071.firebaseio.com</string>
</dict>
</plist>